@model BlogCore.Models.Contact
@{
    ViewData["Title"] = "Create a new contact";
}

<div class="row">
    <a
        asp-action="Index"
        asp-controller="Home"
        class="btn btn-primary"
    >
        Volver
    </a>
</div>

<h1 class="text-center">Contact with .NET 7 (.Net Core MVC)</h1>
<div class="row">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h3 class="card-title text-white"><strong>Create Contact</strong></h3>
            </div>
            <div class="card-body">
                 <form
                    asp-action="Create"
                    method="POST"
                 >
                    <div
                        asp-validation-summary="ModelOnly" class="text-danger"    
                    ></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control mt-1"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="control-label"></label>
                        <input asp-for="Phone" class="form-control mt-1"/>
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Smarthphone" class="control-label"></label>
                        <input asp-for="Smarthphone" class="form-control mt-1"/>
                        <span asp-validation-for="Smarthphone" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control mt-1"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-success d-block mx-auto">
                            <i class="bi bi-person-fill">Create Contact</i>
                        </button>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>